@media (max-width: 1344px) {

    .login-box {
        padding: 40px 35px;
        min-height: 420px;
        min-width: 580px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    button {
        margin-top: 8px;
        padding: 10px;
        border: none;
    }

    .linkLogin {
        margin-top: 22px;
    }

    figure img {
        height: 64px;
        width: 152px;
        margin-bottom: 26px;
    }

}
